@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__wrap/profile__wrap.css);
@import url(./blocks/profile/__name-wrapper/profile__name-wrapper.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_hidden/element__trash_hidden.css);
@import url(./blocks/element/__trash/_visible/element__trash_visible.css);
@import url(./blocks/element/__likes-container/element__likes-container.css);
@import url(./blocks/element/__likes-count/element__likes-count.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__edit-input/popup__edit-input.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup-confirm/__container/popup-confirm__container.css);
@import url(./blocks/popup-confirm/__title/popup-confirm__title.css);
@import url(./blocks/popup-avatar/__container/popup-avatar__container.css);
@import url(./blocks/popup-avatar/__input/popup-avatar__input.css);
@import url(./blocks/popup-avatar/__title/popup-avatar__title.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__url/popup-image__url.css);
@import url(./blocks/popup-image/__title/popup-image__title.css);
@import url(./blocks/popup/__edit-input-error/popup__edit-input-error.css);
@import url(./blocks/popup/__edit-input-error/_active/popup__edit-input-error_active.css);
@import url(./blocks/popup/__save/_inactive/popup__save_inactive.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__edit-input/register__edit-input.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/header/__link/header__link.css);
